.fav-page
    .welcome.cont
        .welcome__content
            h1.welcome__title FAVZONA
            a.welcome__btn.btn(href="/promocije/promocija/?sFrame=s/loyalty/" data-page="Levelup_01082025" data-button="loyalty_header") Kreni
        .welcome__sem
            picture
                source(media="(max-width: 600px)" srcset="img/sam-mob.png")
                source(media="(max-width: 1050px)" srcset="img/sam-tab.png")
                img(src="img/sam-desk.png" alt="Favbet")
    .widget.cont
        p Ispunjavaj misije i izazove, vrti kolo sreće i osvajaj nagrade i bonuse u FAVZONI!
    .info.cont
        .info__title
            .info__title-coin
                picture
                    source(media="(max-width: 600px)" srcset="img/coin-mob.png")
                    img(src="img/coin.png" alt="Decor")
            .info__title-center
                p.info__title-top FAVZONA — tvoja dimenzija igre!
                p.info__title-bottom Mjesto gdje tvoje casino i sport iskustvo dobiva novu dimenziju.
            .info__title-bolt
                picture
                    source(media="(max-width: 600px)" srcset="img/bolt-mob.png")
                    img(src="img/bolt.png" alt="Decor")
        .info__main
            .info__main-left
                .info__main-left-decor
                    picture
                        source(media="(max-width: 600px)" srcset="img/question-mob.png")
                        img(src="img/question.png" alt="Decor")
                .info__main-txt Što te čeka u #[span FAVZONI]
                .info__main-left-decor
                    picture
                        source(media="(max-width: 600px)" srcset="img/trefle-mob.png")
                        img(src="img/trefle.png" alt="Decor")
            .info__main-right
                .slider
                    .slider__container
                        .card.active
                            .card-top
                            .card-body
                                p.card-body-txt Tjedni #[span izazovi]
                                a(href="/promocije/promocija/?sFrame=s/loyalty/" data-page="Levelup_01082025" data-button="challenges_content").card-body-btn.btn Igraj
                        .card
                            .card-top
                            .card-body
                                p.card-body-txt Misije
                                a(href="/promocije/promocija/?sFrame=s/loyalty/" data-page="Levelup_01082025" data-button="missions_content").card-body-btn.btn Izvrši
                        .card
                            .card-top
                            .card-body
                                p.card-body-txt Kolo #[span sreće]
                                a(href="/promocije/promocija/?sFrame=s/loyalty/" data-page="Levelup_01082025" data-button="wheel_content").card-body-btn.btn Zavrti
                        .card
                            .card-top
                            .card-body
                                p.card-body-txt I još više #[span uskoro]
                        .card
                            .card-top
                            .card-body
                                p.card-body-txt Za #[span Casino] i #[span Sport]
                    .slider__arrows
                        .arrow.prev
                        .arrow.next
                    .slider__trackers
                        .dot.active
                        .dot
                        .dot
                        .dot
                        .dot
            .info__main-bottom
                .info__main-coin
                    img(src="img/coin-2.png" alt="Coin")
                .info__main-coin
                    img(src="img/coin-3.png" alt="Coin")
                .info__main-coin
                    img(src="img/coin-4.png" alt="Coin")